@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

body{
    @media screen and (min-width: 1440px) {
        width: 1400px;
    }
    font-size: 18px;
}

$red: #fe7867;
$yellow: #fad400;
$cyandesaturated:  #25564b;
$darkblue: #5B636D;
$moderatecyan: #90D4C6;
$desaturatedblue: #458D7E;
$verydarkgrayishblue: #A7AAAD;
$darkgrayishblue: #a7abae;
$white: #ffffff;